/* Common items */
body {
    font-family: 'Lemonada', cursive;
    font-size: 14px;
    background-image: url("../images/train.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

th {
    background-color: #38404b;
    color: white;
}

.panel-transparent {
    background: none;
}

/* Overriding some bootstrap styles here */
/* Make the jumbotron fonts smaller */
.jumbotron {
    padding: 10px;
    background-color: #2e73b8;
    color: white;
}

.jumbotron h1 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.jumbotron h2 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
}

